@charset "UTF-8";
/*variables*/
/*-------------------- RESET y body -----------------------*/
@import url(../css/clash-display.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  font-family: "ClashDisplay", sans-serif;
  line-height: 1.5;
  color: #727272; }

h1 {
  font-weight: 600;
  color: #212529; }

h2 {
  font-weight: 600;
  color: #212529; }

h3 {
  font-weight: 600;
  color: #212529; }

h4 {
  font-weight: 600;
  color: #212529; }

h5 {
  font-weight: 600;
  color: var(#212529); }

h6 {
  font-weight: 600;
  color: #212529; }

/*----------------- //reset y body -----------------------*/
/*-----------------global  -------------------*/
.theme-shadow {
  box-shadow: 0px 15px 25px rgba(232, 202, 102, 0.377); }

img {
  max-width: 100%;
  height: auto; }

.section-padding {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.imglogo {
  width: 4rem;
  height: 4rem; }

.iconbox {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #377dd3;
  color: white;
  font-size: 1.8rem;
  flex: none; }

a {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease; }
  a:hover {
    color: #e4cc8e; }

/*--------------- BOTÓN ---------------------------*/
.btn {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 24px; }

.btn-brand {
  background-color: #377dd3;
  border-color: #212529;
  color: white; }
  .btn-brand:hover {
    background-color: #212529;
    border-color: #e4cc8e;
    color: #e4cc8e; }

/*--------------- BOTÓN FIN---------------------------*/
/*-----------------global  FIN -------------------*/
/*--------------- Footer -----------------*/
.social-icon {
  width: 36px;
  height: 36px;
  background-color: #377dd3;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px; }
  .social-icon:hover {
    background-color: transparent; }

/*--------------- Footer FIN -----------------*/
/*------------ Títulos de las secciones -----------------------*/
.section-title {
  margin-bottom: 2rem; }
  .section-title .line {
    width: 4rem;
    height: 0.25rem;
    background-color: #e4cc8e;
    margin: 16px auto 24px auto; }
  .section-title p {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto; }

/*------------ Títulos de las secciones FIN -----------------------*/
/*-------------- NAVBAR ------------------- */
.navbar {
  box-shadow: 0px 15px 25px rgba(87, 203, 235, 0.579); }
  .navbar .navbar-nav .nav-link {
    margin: 1rem;
    font-weight: 500;
    color: #377dd3;
    transition: all 0.9s; }
    .navbar .navbar-nav .nav-link:hover {
      background-color: #ffc107;
      color: #212529; }

/*-------------- NAVBAR FIN ------------------- */
/*-------------- SECCIÓN HERO ------------------- */
#hero {
  background: linear-gradient(#030916, rgba(15, 39, 90, 0.863)), url(../assets/images/hero2.jpg);
  background-position: 25% 25%;
  background-size: cover;
  box-shadow: 0px 15px 25px rgba(232, 202, 102, 0.377); }

/*-------------- SECCIÓN HERO FIN ------------------- */
/*---------- SECCIÓN FAQ -------*/
#faq {
  box-shadow: 0px 15px 25px rgba(87, 203, 235, 0.579); }

/*---------- SECCIÓN FAQ -------*/
/*-------------- SECCIÓN pseudobanner ------------------- */
#pseudobanner {
  background: linear-gradient(#030916, rgba(15, 39, 90, 0.863)), url(../assets/images/hero2.jpg);
  background-position: 25% 25%;
  background-size: cover; }

/*-------------- SECCIÓN psuedobanner FIN ------------------- */
/* ------------ PORTFOLIO IMG Z----------------- */
.portfolio-item .iconbox {
  background-color: #377dd3;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; }

.portfolio-item:hover .iconbox {
  opacity: 1;
  top: 50%; }

.image-zoom {
  position: relative; }
  .image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1); }

.image-zoom-wrapper {
  overflow: hidden;
  position: relative; }
  .image-zoom-wrapper img {
    transition: all 0.5s ease; }

/*
.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}
*/
/* ------------ PORTFOLIO IMG Z FIN ----------------- */
/* -----------------CONTACTO--------------------------------------------- */
#contacto {
  position: relative;
  z-index: 2; }
  #contacto:after {
    content: "";
    width: 100%;
    height: 70%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  #contacto .form-control {
    border-radius: 0; }
    #contacto .form-control:focus {
      box-shadow: none;
      border-color: #377dd3; }

/* -----------------CONTACTO FIN----------------------------------- */
