/*-------------------- RESET y body -----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: $font-base;
    line-height: 1.5;
    color: $body;

}


h1 {
    font-weight: 600;
    color: $dark;
}


h2 {
    font-weight: 600;
    color: $dark;
}

h3 {
    font-weight: 600;
    color: $dark;
}

h4 {
    font-weight: 600;
    color: $dark;
}


h5 {
    font-weight: 600;
    color: var($dark);
}

h6 {
    font-weight: 600;
    color: $dark;
}




/*----------------- //reset y body -----------------------*/