/*variables*/

$golden: #e4cc8e;
$dark: #212529;
$brand: #377dd3;
$brand-light: #52ccf8;
$brand-rgb: rgb(55, 125, 211);
$body: #727272;
$bswarning: #ffc107;
$font-base: "ClashDisplay", sans-serif;
$box-shadow: 0px 15px 25px rgba(232, 202, 102, 0.377);
$box-shadowceleste: 0px 15px 25px rgba(87, 203, 235, 0.579);
$transition: all 0.5s ease;